* {
    margin: 0;
}

h2 {
    padding-top: 64px;
    font-family: "Poppins Black";
    font-size: 3.6em;
    max-width: 64%;
    padding-left: 64px;
}

  /*BG COLOR*/
  body {
    background-color: #FAE8C0;
    overflow-x: hidden;
}

/* SCROLLBAR STYLING*/

/*scrollbar*/
::-webkit-scrollbar {
    width: 16px;
    opacity: 0;
  }

/*Scroll*/
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 8px;
  }

/*NAVIGATION STYLING*/
.navigation{
    background-color: rgba(250, 232, 192, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 0 5%;
    height: 3em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    flex-direction: row;
    list-style: none;
    font-family: "Fraunces"; font-weight: 300; font-size: 1.6em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8em;
    position: fixed;
    z-index: 100;
}

.logoKedaton {
    width: 3em;
    cursor: pointer;
 }

nav a{
    text-decoration: none;
    color: black;
    margin: 0 30px;
    position: relative;
}

nav a:hover {
    color: black;
}

nav a::before{
    content:'';
    position: absolute;
    bottom: -4px;
    width: 0%;
    height: 1.6px;
    background-color: black;
    transition: all 0.3s ease;
}

nav a:hover::before{
    width: 100%;
}

/* HERO 1 STYLING */
.hero1{
    background-image: url(/UAS/ASSET/NasiBali.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 56em;
    align-content: center;
}

.textKedaton{
    font-family: "Poppins Black" ;
    font-size: 6.4em;
    padding-left: 64px;
    color: #FAE8C0;

}

/* HERO 2 STYLING*/
.hero2 {
    background-color: #FAB51C;
    width: 100%;
    height: 56em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.textHero2 {
    position: relative;
    z-index: 10;
}

.text2 {
    padding-top: 128px;
    font-family: "Fraunces";
    font-weight: 300;
    font-size: 2.4em;
    max-width: 48%;
    padding-left: 64px;
}

.parallax {
    transform: translateY(-120px);
    position: relative;
    width: 100%;
    height:100vh;
    min-height: 500px; 
    z-index: 1;
}

.lihatLokasi {
    position: relative;
    margin-top: 4em;
    font-family: "Poppins Black";
    font-size: 1.6em;
    padding: 1em 1em 1em 1em;
    translate: 64px;
    border-radius: 2em;
    border: none;
    box-shadow: 4px 8px black;
    z-index: 100;
    background-color: #FAB51C;
    cursor: pointer;
    transition: all 0.2s ease;
}

.lihatLokasi:hover{
    background-color: #0D9147;
}

.lihatLokasi:active{
    background-color: #0D9147;
    box-shadow: 0 0 0;
    transform: translate(4px,8px);
}

section img {
    position: absolute;
    top: -50%;
    align-items: right;
    right: 0;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}
#textParallax {
    position: absolute;
    font-family: "Poppins Black";
    font-size: 48em;
    color: rgba(244, 119, 61, 0.15);
    z-index: 1;
    scroll-behavior: smooth;
    overflow: hidden;
    -webkit-user-drag: none;
}

/*HERO 3 STYLING*/
.hero3 {
    height: 56em;
    display: flex;
    flex-direction: column;

}

.card .carousel {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 48px;
    -webkit-user-drag: none;
    overflow-x:hidden;
}

.carousel img {
    position: relative;
    object-fit: cover;
    height: 560px;
    width: calc(100%/4);
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.5s ease;
    margin: 8px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.carousel img:nth-child(even) {
    margin-top: 8em;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.carousel img:nth-child(odd):hover{
    margin-top: -3em;
    margin-left: 4px;
    box-shadow: 8px 16px #FAB51C;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.carousel img:nth-child(even):hover{
    margin-top: 5em;
    margin-left: 4px;
    box-shadow: 8px 16px #FAB51C;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.buttons{
    position: absolute;
    width: 100%;
    height: 760px;
    display: flex;
    align-items: center;
    -webkit-user-drag: none;
}


.card .slide-button {
    position: absolute;
    height: 80px;
    width: 80px;
    color: black;
    background: #FAB51C;
    box-shadow: 2px 4px black;
    font-size: 3.6rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.2s ease;
}

.card .slide-button:hover{
    position: absolute;
    height:90px;
    width: 90px;
    background-color: #0D9147;
    font-size: 4em;
}

.card .slide-button:active{
    position: absolute;
    height:90px;
    width: 90px;
    font-size: 4em;
    box-shadow: 0 0 0;
    transform: translate(2px,4px);
    background-color: black;
    color: #0D9147;
}

.card .slide-button#prevslide{
    left: 20px;
}

.card .slide-button#nextslide{
    right: 20px;
}
 
.card .slider-scrollbar {
    height:24px;
    background: #FAE8C0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.slider-scrollbar .scrollbar-track {
    height:4px;
    width:100%;
    background:#FAB51C;
    position: relative;
    border-radius: 1em;
    transform:scaleX(0.9);
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.slider-scrollbar:hover .scrollbar-track{
    height:6px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top:-1px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.slider-scrollbar .scrollbar-thumb {
    position: relative;
    height:100%;
    width:50%;
    background: black;
    border-radius: inherit;
    cursor: grab;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.slider-scrollbar .scrollbar-thumb::after {
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}


/* HERO 4 STYLING */
.hero4 {
    translate: 1%;
    transition: all 1s ease;
    transition-delay: 0.2s;
    background-color: #0D9147;
    height: 56em;
    width: 98%;
    border-radius: 2em;
    overflow: hidden;
}

.hero4:hover {
    translate: 0%;
    width: 100%;
    border-radius: 0;
}

.layanan {
    margin-top: 16px;
    max-width: 6em;
    z-index: 100;
}

.container {
    position: relative;
    translate: 0 -16%;
    width: 90%;
    padding-left: 5%;
    height: 48em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em 1em;
}

.container h2 {
    font-size: 2.6em;
    padding-left: 32px;
    padding-bottom: 24px;
    padding-top: 16%;
}

.indoorSpace {
    position: relative;
    grid-area: 1 / 3 / 3 / 6;
    background-color: #FAE8C0;
    border-radius: 2em;
    border: 0.5em solid #FAE8C0;
    overflow: hidden;
}

.indoorSpace img {
    translate: 0 50%;
    width: 100%;
    transition: all 0.8s ease;
}

.meetingRoom {
    position: relative;
    grid-area: 3 / 1 / 5 / 4;
    background-color:#FAE8C0 ;
    border-radius: 2em;
    border: 0.5em solid #FAE8C0;
    overflow: hidden;
}

.meetingRoom img {
    translate: 0 50%;
    width: 100%;
    transition: all 0.8s ease;
}

.delivery {
    position: relative;
    grid-area: 3 / 4 / 5 / 6;
    background-color: #FAE8C0;
    border-radius: 2em;
    border: 0.5em solid #FAE8C0;
    overflow: hidden;
}

.delivery img {
    translate: 0 50%;
    width: 100%;
    transition: all 0.8s ease;
}

h3 {
    font-family: "fraunces";
    font-weight: 300;
    padding-left: 32px;
    font-size: 2em;
    width: 48%;
}

.meetingRoom .meetingRoomText{
    translate: -100%;
    width: 36%;
    height: 100%;
    background-color: #FAE8C0;
    position: relative;
    transition: all 0.8s ease;
}

.meetingRoom:hover .meetingRoomText{
    translate: 0%;
}

.meetingRoom:hover img{
    scale:105%;
}

.indoorSpace .indoorSpaceText {
    translate: -100%;
    width: 36%;
    height: 100%;
    background-color: #FAE8C0;
    position: relative;
    transition: all 0.8s ease;
}

.indoorSpace:hover .indoorSpaceText{
    translate: 0%;
}

.indoorSpace:hover img{
    scale:105%;
}

.delivery .deliveryText {
    translate: -100%;
    width: 52%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #FAE8C0;
    position: relative;
    transition: all 0.8s ease;
}

.delivery:hover .deliveryText{
    translate: 0%;
}

.delivery:hover img{
    scale:105%;
}

.deliveryText h2 {
    padding-top: 0;
}

.kambojaParallax {
    position: absolute;
    width: 100%;
    height: 48em;
}

.kambojaParallax img {
    position: absolute;
    left: 0;
    height: 24em;
    z-index: 100;
    
}

#kamboja1 {
    display: flex;
    align-items: center;
    padding-top: 44em;
    padding-left: 36%;
    height: 16em;
    pointer-events: none;
    rotate: 15deg;
}

#kamboja2 {
    display: flex;
    align-items: center;
    padding-top: 80em;
    padding-left: 52%;
    height:16em;
    pointer-events: none;
}

#kamboja3 {
    display: flex;
    align-items: center;
    padding-top: 24em;
    padding-left: 88%;
    height:18em;
    pointer-events: none;
}

/* HERO 5 STYLING */
.hero5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    height: 48em;
}

.hero5background {
    position: absolute;
    width:100%;
    height: 100%;
}

#pattern2 {
    position: absolute;
    height: 50%;
    left: -5%;
    translate: 0 30%;
    user-select: none;
    -webkit-user-drag: none;
    z-index: -1;
}

#pattern {
    position: absolute;
    height: 50%;
    right: -5%;
    translate: 0 52em;
    user-select: none;
    -webkit-user-drag: none;
    z-index: -1;
}

.topReviews{
    padding-top: 4em;
    padding: 4em;
    display: grid;
    height: 16em;
    gap: 4em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 2;
}

.topReviews p{
    font-family: "Fraunces";
    font-weight: 300;
    font-size: 1.4em;
    height: 8em;
}

.topReviews h3{
    padding-left: 0;
    padding-top: 1.6em;
    width: fit-content;
    height: auto;
    font-weight: 400;
}

.review1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 6em;
}

.reviewBox h3{
    padding: 0;
    text-align: center;
    font-family: "Poppins Black";
    padding-bottom: 0.8em;
}

.reviewBox input{
    width: 50%;
    padding: 12px 20px;
    border: none;
    border-radius: 2em;
    background-color: #f8f8f8;
    font-family: "Fraunces";
    margin-bottom: 2em;
    z-index: 100;
}

.reviewBox input:focus{
    outline: none;
}

.submitReview{
    width: fit-content;
    position: relative;
    font-family: "Poppins Black";
    font-size: 1.2em;
    padding: 0.8em;
    border-radius: 2em;
    border: none;
    box-shadow: 2px 4px black;
    background-color: #FAB51C;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submitReview:hover{
    background-color: #0D9147;
}

.submitReview:active{
    background-color: #0D9147;
    box-shadow: 0 0 0;
    transform: translate(2px,4px);
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height:20em;
    background-color: #FAB51C;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.containerFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.containerFooter h2 {
    width:55%;
    display: flex;
    align-items: center;
    padding-top: 0;
}
.footerNav{
    display: flex;
    flex-direction: column;
}

.footerNav a{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: "Fraunces";
    font-size: 1.8em;
    font-weight: 300;
    padding-bottom: 0.6em;
    max-width: max-content;
}

.footerNav a::before{
    content:'';
    position: absolute;
    bottom: 12px;
    width: 0%;
    height: 0.05em;
    background-color: black;
    transition: all 0.3s ease;
}

.footerNav a:hover::before{
    width: 100%;
}